langchain-core==0.2.5
langchain-groq==0.1.4
python-dotenv
langchain-community==0.2.4
faiss-cpu
sentence-transformers
langchain==0.2.3
ipykernel
fastapi==0.110.0
uvicorn==0.29.0
pytest
tavily-python
streamlit 
requests
pypdf 
python-multipart
pydantic==2.7.4
